# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Dotnet artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/
*.dll
*.exe

# Logs
*.log

# Other
*.DS_Store
Thumbs.db

# OS-specific
ehthumbs.db
Icon?
